/* App.css */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* System font stack for cross-platform consistency */
  margin: 0;
  padding: 0; /* Remove default padding */
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark gray text */
}

.App {
  max-width: 768px; /* Adjust for typical mobile screen width */
  margin: 20px auto; /* Center the content */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  font-weight: 600; /* Slightly bolder headings */
  margin-bottom: 10px;
}

p {
  line-height: 1.6; /* Improve readability */
}

.plot-selection {
justify-content: space-evenly;
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;

}

.plot-selection label {
  margin: 10px;
  padding: 10px 15px; /* Add padding for button-like appearance */
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* Center the text */
}

.plot-selection input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.plot-selection label ~ checked {
  background-color: #cfdbff; /* Slightly darker background when checked */
  font-weight: bold;
  border-color: #007bff; /* Example: Blue border when checked */
}

.area-selection{
  display: inline-flex;
}
.area-selection label {
  margin: 5px;
  padding: 5px 5px; /* Add padding for button-like appearance */
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center; /* Center the text */
}



.plot-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.plot-cell {
  background-color: #f0f0f0;
  border-radius: 3px;
  flex: 0 0 calc(50% - 30px); /* Two columns */
  /* Remove fixed height */
  display: flex;
  flex-direction: column; /* Allow cell to grow vertically */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative; 
  height: 30px;}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .plot-cell {
    flex: 0 0 calc(50% - 30px); /* Two columns on smaller screens */
  }

}

.fullness-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; /* Initial height is 0 */
  background-color: rgba(97, 255, 97, 0.5); /* Green for fullness */
  transition: height 0.3s ease-in-out; /* Smooth transition for the loading bar effect */
}

/* Apply border color based on table type */
.plot-cell .drip{
  border: 1px solid red; 
  border-radius: 3px;

}

.plot-cell .spray{
  border: 1px solid blue; 
  border-radius: 3px;

}

.table-header {
  display: flex;
  flex-direction: row; /* Arrange content vertically */
  justify-content: center; /* Space out elements */
  border-bottom: 1px solid #eee;

}

.table-header h4, .table-header p {
  margin: 5px 0; /* Add some spacing between elements */
  z-index: 1;

}
  


/* Media query for smaller screens (adjust breakpoint as needed) */

  .table {
    width: 100%; /* Take up full width on small screens */
  }

  .table-header p {
    font-size: 0.9rem; /* Slightly smaller font size on small screens */
    text-align: left;
  }



.table-actions {
  margin-bottom: 10px; /* Add some top margin for spacing */
  text-align: right; /* Align buttons to the right */

}

.table-actions button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  position: relative;
  bottom: 20px;
}

.table-actions button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

/* Modal styles */
.modal {
  display: block; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color:   
 #f5f5f5; /* Same as app background */
}

.modal-content {
  background-color: #fff; /* White background for the modal content */
  margin: 20% auto; 
  padding: 10px 20px;
  position: relative;
  border: 1px solid #ddd; /* Subtle border */
  width: 50%; /* 50% of the screen width */
  max-width: 500px; 
  border-radius: 8px;
}

.close-button {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 30px;
  right: -5px;
  
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor:   
 pointer;
}




.app-header {
  display: flex;
  justify-content: space-around; /* Arrange logo and menu icon on opposite sides */
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; /* White background for the header */
  border-bottom: 1px solid #eee; /* Subtle bottom border */
}

.app-logo {
  height: 60px; /* Adjust logo height as needed */
  
}

.menu {
  display: none;
  position: absolute;
  top: 100px; /* Adjust to start below the header */
  right: 10px;
  width: 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translate(-100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 2; /* Ensure the menu is on top of other elements */
}

.menu.open {
  display: block;
  transform: translateY(0); 
}
.menu-icon {
  font-size: 24px; /* Adjust icon size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.menu li {
margin-top: 10px;
font-weight: bold;


}
a {
  text-decoration: none;
  color: #333; /* Dark gray text */
}







